--- 
commands:
  01_get_nginx_conf_file:
    command: echo $'server_tokens off;\nclient_max_body_size 50M;' > /home/ec2-user/01_proxy.conf

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_copy_nginx_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/usr/bin/env bash
        cat /home/ec2-user/01_proxy.conf > /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
        /sbin/service nginx reload